// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1200px)";
$gl: "only screen and (min-width: 1200px)";
$xlg: "only screen and (max-width: 1400px)";
